<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>QuackChat</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <style media="screen">
      :root{
        --orange: #FFC680;
        --yellow: #FDD264;
        --tangerine: #F56B39;
        --bergundy: #670305;
      }
      #quackchat{
        margin: 5px;
        height: 100%;
        background-color: var(--tangerine);
        padding: 10px;
        display: flex;
      }
      #members{
        height: 100%;
        background-color: var(--yellow);
        width: 30%;
        max-width: 380px;
        margin-top: 0px;
        padding-top: 15px;
        min-width: 300px;
        margin-right: 5px;
        overflow-y: scroll;
      }
      #chat{
        height: 100%;
        background-color: var(--yellow);
        width: 70%;
        margin-top: 0px;
        flex-grow: 100;
        position: relative;
      }
      #members h3{
        margin: 0px;
        margin-bottom: 10px;
        color: white;
      }
      li.member{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        height: 70px;
        margin-bottom: 8px;
        background-color: var(--tangerine);
        color: white;
        margin-left: 4px;
        margin-right: 4px;
      }
      li p.member-username{
        font-size: 25px;
        margin: 0px;
        display: inline-block;
        position: relative;
        bottom: 5px;
      }
      li p.member-status{
        font-size: 18px;
        margin: 0px;
        position: relative;
        bottom: 12px;
      }
      li img.member-thumbnail{
        margin-right: 10px;
      }
      #members::-webkit-scrollbar {
        width: 4px;
      }
      #members::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px var(--tangerine);
      }
      #members::-webkit-scrollbar-thumb {
        background-color: var(--bergundy);
      }
      #message{
        position: absolute;
        bottom: 0;
        margin: 4px;
        height: 50px;
        border: none;
        background: var(--tangerine);
        padding: 5px;
        padding-left: 15px;
        color: white;
        font-size: 20px;
      }
      ::-webkit-input-placeholder { color: white; font-size: 20px;}
      ::-moz-placeholder { color: white; font-size: 20px;}
      :-ms-input-placeholder { color: white; font-size: 20px;}
      :-moz-placeholder { color: white; font-size: 20px;}
      #messages{
        /* border: 2px solid var(--tangerine); */
        margin: 4px;
        /* background: var(--tangerine); */
      }
    </style>
  </head>
  <body>
    <div id="quackchat" class="z-depth-1">
      <ul id="members" class="z-depth-1 hide-on-med-and-down">
        <h3 class="center-align">MEMBERS</h3>
        <% for(member of members){ %>
          <li class="member z-depth-1">
            <img src="<%= member.thumbnail %>" alt="Member thumbnail" class="member-thumbnail left">
              <p class="text-flow member-username"><%= member.username %></p>
              <br>
              <p class="text-flow member-status"><%= member.email.substring(0, member.email.indexOf('@')) %></p>
          </li>
        <% } %>
      </ul>
      <div id="chat" class="z-depth-1">
        <div id="messages"></div>
        <input type="text" name="message" id="message" placeholder="Quack here" class="browser-default z-depth-1">
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.18/jquery.touchSwipe.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script type="text/javascript">
      var socket = io.connect();

      $('html').css('height', ($(window).height() - 10) + 'px');
      $('body').css('height', ($(window).height() - 10) + 'px');

      $('#message').css('width', ($('#chat').width() - ($('#message').css('margin-left').substring(0, $('#message').css('margin-left').indexOf('p'))*2)) + 'px');
      $('#messages').css('height', ($('#chat').height() - ($('#message').height() + 24)) + 'px');

      $(window).swipe({
        swipe: (event, direction, distance, duration, fingerCount) => {
          switch (direction) {
            case 'right':
              $('#members').removeClass('hide-on-med-and-down');
              $('#chat').addClass('hide-on-small-only');
              if ($(window).width() < 600) {
                $('#members').css('margin-right', '0px');
                $('#members').css('max-width', '1000px');
                $('#members').css('width', '100%');
              }
              break;
            case 'left':
              $('#members').addClass('hide-on-med-and-down');
              $('#chat').removeClass('hide-on-small-only');
              break;
          }
        }
      })
    </script>
  </body>
</html>
